body {
    background: #f9e933;
}

header, main, footer {
    min-width: 855px;
}

header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
    overflow: auto;
}

main {
    background: white;
    overflow: auto;
}

main .mainLeft {
    float: left;
    width: 570px;
}

main .mainRight {
    float: right;
    width: 285px;
}

header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
}

footer .contact {
    float: left;
    width: 570px;
}

footer .sitemap {
    float: right;
    width: 285px;
}

body {
    font-family: 'Droid Sans', sans-serif;
}

header h1, header h2, header h3, header h4 {
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: red;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}